@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  
}

.dark body {  background-color: rgb(0, 0, 0);}

::-webkit-scrollbar-track {
  margin: 20rem;
}

::-webkit-scrollbar {
  width: 32px;
}

::-webkit-scrollbar-thumb 
{
  border: 12px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: rgb(0, 162, 255);
}